/* ==== GOOGLE FONTS IMPORT LINK ==== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    transition: .5s;
}

/* === root Classes === */
:root {
    --ruler: 16px;
    --white-Color: #FFF;
    --bg-Color: #EBECF0;
    --red-Color: #AE1100;
    --shadow-Color: #BABECC;
}

/* === SYMMENTIC CLASSES STYLING === */
body, html {
    background: var(--bg-Color);
    font-family: 'Montserrat', sans-serif;
}

p, input, select, button {
    font-size: var(--ruler);
    letter-spacing: 1.3;
}

/* === ELEMENTS STYLING === */
.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    width: 350px;
    padding: var(--ruler);
}

.segment {
    text-align: center;
    padding: 32px 0;
}

button, input {
    background-color: var(--bg-Color);
    font-size: var(--ruler);
    border-radius: calc(var(--ruler) * 20);
    border: none;
    outline: none;
    text-shadow: 1px 1px 0 var(--white-Color);
}

label {
    width: 100%;
    display: block;
    margin-bottom: calc(var(--ruler * 1.5));
}